/*
	stylelint-disable
		custom-property-pattern,
*/

:root {
	----padding: clamp(8px, 8%, 28px);
	----roundness: 28px;

	/* background: var(----colour-background-primary); */

	background: black;
}

body {
	margin: 0;
}